<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">Fahtout</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nouveautés</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          Catalogue De Produits
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Cadre en toile</a></li>
          <li><a class="dropdown-item" href="#">Tirage des plans</a></li>
          <li><a class="dropdown-item" href="#">Impression sur Tissu</a></li>
          <li><a class="dropdown-item" href="#">Impression sur Papier</a></li>
        </ul>
      </li>
<li class="nav-item">
        <a class="nav-link " href="#">Demande de Devis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Espace Revendeurs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
      <i class="bi bi-search search-icon"></i>
    </form>

  </div>
</nav>
